@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-pastel-blue: #9bb8ed;
  --color-pastel-orange: #feecd6;
  --color-pastel-violet: #a39fe1;
  --color-pastel-purple: #deb3e0;
  --color-pastel-pink: #fec6df;
  --color-pastel-peach: #feecd6;
}

:root {
  font-family: "Sour Gummy", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #feecd6;
}

.iconContainer svg {
  font-size: inherit;
}
